:root{
    --darkbg: #222831;
    --greybg: #393e46;    
    --green : #00adb5; 
    --shineGreen: #00fff5;
    --light: #fafafa;  
    --blue: #0077c0;
}
*{
    font-family: 'Source Code Pro', monospace;
    margin: 0;
    padding: 0;
    font-size: 10px;
    box-sizing: border-box;
}